.navbarColor {
  background-color: rgb(255, 226, 226, 0.95);
}

.centernav {
  justify-content: center;
  width: 100%;
}

.vicslogo {
  margin: 0;
  color: black;
}

.logoheart {
  margin-right: 12px;
}

.sticky-nav {
  position: fixed;
  z-index: 9999;
}

.bookButton {
  padding: 10px 50px 10px 50px;
  border-radius: 15px;
  color: black;
  background-color: pink;
  font-weight: bold;
}

.bookButton:hover {
  background-color: white;
  color: black;
}

.navLinks {
  color: black;
  font-weight: bold;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  text-align: center;
}

/* animation for navigation links */

.nav-link:hover {
  opacity: 1;
  color: rgb(176, 99, 99);
  border-color: black;
}

.nav-link:active {
  color: rgb(255, 255, 255);
}
