@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background: radial-gradient(#fffafa, #fefefe, rgb(255, 244, 245));
}

.nail-card {
    margin: 3rem;
    margin-top: 10rem;
    margin-bottom: 6rem;
    border-radius: 20px;
}

.nail-card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.nail-card-body {
    height: 15rem;
    padding: 3rem 0 !important;
}

.nail-card-text {
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}

.nail-container-fluid .row {
    padding-top: 6rem;
}

.nail-overflow {
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.nail-card-img-top {
    height: 20rem;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.nail-card-img-top:hover {
    transform: scale(1.1);
}

.nail-card-title {
    font-family: 'Playfair Display';
}