.navbarColor {
  background-color: rgb(255, 226, 226);
}

.bookButton {
  margin-right: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 15px;
  color: black;
  background-color: pink;
  border: none;
  font-weight: bold;
}

.bookButton:hover {
  background-color: white;
  color: black;
}

.navLinks {
  color: black;
  font-weight: bold;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}


/* animation for navigation links */

.nav-link:hover {
  opacity: 1;
  color: gray;
  border-color: black;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: rgb(88, 88, 88);
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 2px;
}

.nav-link-ltr:hover::before {
  width: 68%;
}