.review-body {
    padding: 40px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-radius: 30px !important;
}   

.review-headline {
    text-align: center;
    margin-top: 3rem;
}

.review-card-title {
    font-weight: bold;
    font-size: 25px;
}

.review-stars {
    color: pink;
    font-size: 20px;
    margin-bottom: 14px;
}

.review-text {
    margin-top: 25px;
    font-size: 18px;    
}

.review-list-position {
    margin-top: 2rem;
    text-align: center;
}


.review-list {
    display: inline-flex;
    list-style: none;
}

li {
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: tcomSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    height: 40px;
    justify-content: center;
    padding: 0 24px;
    position: relative;
    white-space: nowrap;
}