.review-body {
    padding: 40px;
    margin-top: 9rem;
    margin-bottom: 5rem;
    border-radius: 30px !important;
}   

.review-card-title {
    font-weight: bold;
    font-size: 25px;
}

.review-stars {
    color: pink;
    font-size: 20px;
    margin-bottom: 14px;
}

.review-text {
    margin-top: 25px;
    font-size: 18px;    
}
