.slideSize {
    height: 55rem;
    margin: 0 auto;
}

.carousel .carousel-control-next-icon.changed {
    background-image: url("../app/assets/img/arrow-right-solid.svg");
}

.carousel .carousel-control-prev-icon.changed {
    background-image: url("../app/assets/img/arrow-left-solid.svg");
}

